---
title: ブログ
description: 何か書いていきます。
layout: 
---

mixin fa( $icon )
  i(class=`fa fa-${$icon} fa-fw`, aria-hidden="true")

.container

  h1.pt-4.pb-2 ブログ

  h2.text-center 記事一覧

  .d-flex.flex-row.row
    - pages.sort(function(a,b) {
    -   if( a.meta.mtime < b.meta.mtime ) { return 1 } else { return -1 }
    - });
    each page in pages
      if ( page.meta.permalink.indexOf("/blog/") == 0 )
        a(href=`${site.url.path}${page.meta.permalink}`).col-xl-4.col-md-6.p-2
          .card.w-100.h-100.border-dark.pb-5
            if ( page.attributes.thumbnail )
              img.card-img-top.blog-indexthumb.bg-dark(alt="サムネイル", src=`${site.url.path}${page.attributes.thumbnail}`)
            h4.card-title.blog-title.my-md-4.mb-2.mt-3.px-3 #{page.attributes.title}
            p.card-text.mb-md-5.mb-4.px-3 #{page.attributes.description}
            //- - let birthtime = new Date(page.meta.birthtime)
            - let mtime = new Date(page.meta.mtime)
            .card-footer.py-md-2.py-1
              ul.list-unstyled
                li
                  +fa("file-text-o")
                  time(datetime=page.meta.birthtime) #{birthtime.getFullYear()}年#{birthtime.getMonth()+1}月#{birthtime.getDate()}日 #{`00${birthtime.getHours()}`.slice(-2)}:#{`00${birthtime.getMinutes()}`.slice(-2)}
                  |  作成
                li
                  +fa("clock-o")
                  time(datetime=page.meta.mtime) #{mtime.getFullYear()}年#{mtime.getMonth()+1}月#{mtime.getDate()}日 #{`00${mtime.getHours()}`.slice(-2)}:#{`00${mtime.getMinutes()}`.slice(-2)}
                  |  更新
              p.mb-0
                +fa("folder-open")
                if(page.attributes.categories)
                  each category in page.attributes.categories
                    span.badge.badge-success= category
                    |  
                else
                  | なし
                | &emsp;
                +fa("tags")
                if(page.attributes.tags)
                  each tag in page.attributes.tags
                    span.badge.badge-secondary= tag
                    |  
                else
                  | なし