---
title: トップ
description: トップページです
---
h1 #{page.attributes.title}

p このサイトは、
  a(href="./MDBuilder/") オレオレ静的サイトビルダーMDBuilder
  | によって作成されています。


h2 ページ一覧
ul
  each p in pages
    li
      a(href=`${config.site_url}${p.attributes.permalink}`) #{p.attributes.title} 

:md

  aqzもといtamainaのサイト

  **[ここのれぽじとりぃ](https://github.com/tamaina/tamaina.github.io)**

  ↑中身やばいことなってる

  - [kogasa(コードネーム)](https://github.com/tamaina/kogasa)
    - waifu2x のcaffeとかconverter-cppをMaterial DesignなGUIでいじくれるやつ
  - [pak.nippon+ (tamaina版)](https://github.com/tamaina/pak-nippon/releases)
    - **Simutrans**のpakセット。 pak.nipponオリジナルはかのwa氏が制作されています。
  - [The Japanese Web Fonts 色々なフォントをできるだけサブセット化したWebフォントセット](https://github.com/tamaina/The-Japanese-Web-Fonts)
  - [Chen - "bootstrap"日本語最適化テーマ](https://github.com/tamaina/Chen)
    - **bootstrap**にThe Japanese Web Fontsを憑依させた、名前の割に重い
    - 亜種がいくつかある
    - bootstrap v4を齧ってたり
  - [某高校の文化祭のホームページ](https://suiranfes.com)
    - 自分が作ったものの結構重い件……。
  - [Misskey インスタンス misskey.tmin.cf](https://misskey.tmin.cf)
    - ノートPCで起動してるし普段も使ってるPCなので開設するのは不定期。

  ### aqz=tamaina social accounts

  - [Twitter @t_ma1n](https://twitter.com/t_ma1n)
  - [GitHub @tamaina](https://github.com/tamaina)
  - [Misskey @aqz](https://misskey.xyz/aqz)
  - [Qiita @aqz](https://qiita.com/aqz)
  - マストドン インスタンスいくつか @aqz
