---
title: トップページ
layout: index
---

-
  const fontawesome = require("@fortawesome/fontawesome")
  const faSolid = require("@fortawesome/fontawesome-free-solid")
  const faBrands = require("@fortawesome/fontawesome-free-brands")
  fontawesome.library.add(faSolid, faBrands)

mixin fa( $icon, $prefix )
  i(class=`fa ${$prefix || "fas"} ${$icon}`)!= fontawesome.icon({ prefix: ( $prefix || "fas" ), iconName: $icon }).html[0]

mixin social_circle( $url, $fa, $title )
  a(href=$url, target='_blank', rel='noopener', title=$title).rounded-circle.bg-light.text-dark.social-circle.m-2
    +fa($fa, "fab")

#head.text-center
  #headimgwrp
    #headimg0(style=`background-image:url("${site.url.path}/files/top/1st/0thumb1024.jpeg")`, data-imgnum="0")
  #headgo.container
    #headwrp
      h1.pt-4 アキウス
      p.lead= "aqz = tamaina"

#intro.bg-light.text-center.py-5
  .container
    h2.mb-3 自己紹介
    .row
      .col-lg-4.d-flex.h-100.py-4.px-md-2
        img(src=`${site.url.path}/files/images/icons/icon.png`, width="100", height="100", alt="icon").m-auto
      .col-lg-8.py-4.px-md-2
        h3.mb-3 aqz = tamaina
        p.mb-2 両方の名前を使います。別にどちらで呼んでもかまいません。
        p.mb-2 Web系をうろついています。
        p 趣味は、鉄道だったり、写真だったり。
        a(href=`${site.url.path}/blog/about_me`).btn.btn-primary.btn-block それほど詳しくない詳細

#socials.bg-danger.text-center.py-5
  .container.text-light
    h2 SNSとか
    .py-3.d-flex.flex-wrap.justify-content-center
      if(site.social_media.twitter.stalk)
        +social_circle( `https://twitter.com/${site.social_media.twitter.stalk}`, "twitter", `twitter ${site.social_media.twitter.stalk}` )
      if(site.social_media.flickr.stalk)
        +social_circle( `https://www.flickr.com/people/${site.social_media.flickr.stalk}/`, "flickr", "flickr" )
      if(site.social_media.github.stalk)
        +social_circle( `https://github.com/${site.social_media.github.stalk}`, "github", `github @${site.social_media.github.stalk}` )