---
title: tmin.xyz
description: 特定の個人を紹介するサイトです。
layout: index
---

mixin fa( $icon )
  i(class=`fa fa-${$icon} fa-fw`, aria-hidden="true")

#head.text-center
  #headimgwrp
    #headimg0(style=`background-image:url("${site.url.path}/files/top/1st/0.jpeg")`, data-imgnum="0")
  #headgo.container
    #headwrp
      h1.pt-4 #{page.attributes.title}
      p.lead= page.attributes.description

#intro.bg-light.text-center.py-5
  .container
    h2.mb-3 Introduce
    .d-flex.flex-wrap.flex-lg-row.justify-content-center.align-self-center
      img(src=`${site.url.path}/files/images/icons/favicon-600x600.png`, width="100", height="100").mx-lg-5.mx-auto.my-3
      .mx-lg-5.mx-auto.my-3
        h3.mb-3 aqz = tamaina
        p.mb-2 両方の名前を使います。別にどちらで呼んでもかまいません。
        p.mb-2 Web系をうろついています。
        p 趣味は、鉄道だったり、写真だったり。
        a(href=`${site.url.path}/blog/about_me`).btn.btn-primary.btn-block 私について

#socials.bg-danger.text-center.py-5
  .container.text-light
    h2 Socials
    .py-3.d-flex.flex-wrap.justify-content-center
      a(href="https://twitter.com/t_ma1n", target='_blank', rel='noopener', title="twitter @t_ma1n").rounded-circle.bg-light.text-dark.social-circle.m-2
        +fa("twitter")
      a(href="https://www.flickr.com/people/150974953@N07/", target='_blank', rel='noopener', title="flickr").rounded-circle.bg-light.text-dark.social-circle.m-2
        +fa("flickr")
      a(href="https://github.com/tamaina", target='_blank', rel='noopener', title="github @tamaina").rounded-circle.bg-light.text-dark.social-circle.m-2
        +fa("github")
