- const page_index_numer = 5
doctype


block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug


html(lang=site.locale)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title #{page.attributes.title} - #{site.name}
      
      block thankyou_seeing_sourcecode
        //*
          *
          *
          * 🌟
          *
          *
          *
      block description
        meta(name="description", content=page.attributes.description)
        //- meta(name="keywords", content=page.tag)

      block icons
        link(rel="shortcut icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="shortcut icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)
      
      block includes
        include ../includes/_includes.pug

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)
        link(rel="manifest", href=`${site.url.path}/manifest.json`)
        link(rel="alternate", href=site.rss_url, type="application/atom+xml", title=site.name)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.thumbnail || page.thumbnail != "" )
          meta(property="og:image", content=`${site.url.scheme}//${site.url.host}${site.url.path}${page.attributes.thumbnail}`)
        else if ( !!site.site_card_path || site.site_card_path != "" )
          meta(property="og:image", content=`${site.url.scheme}//${site.url.host}${site.url.path}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        if ( !!site_card_path )
          meta(property="og:image", content=`${site.url.scheme}//${site.url.host}${site.url.path}${site.site_card_path}`)
        meta(property="og:url", content=`${site.url.scheme}//${site.url.host}${site.url.path}${page.attributes.permalink}`)
        meta(property="og:site_name", content=site.name)

      block twitter_card
        if ( !!page.thumbnail || page.thumbnail != "" )
          meta(name="twitter:card", content="summary_large_image")
          meta(name="twitter:image", content=`${site.url.scheme}//${site.url.host}${site.url.path}${page.attributes.thumbnail}`)
        else if ( !!site.site_card_path || site.site_card_path != "" )
          meta(name="twitter:card", content="summary_large_image")
          meta(name="twitter:image", content=`${site.url.scheme}//${site.url.host}${site.url.path}${site.site_card_path}`)
        else
          meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content=`${page.attributes.title} - ${site.name}`)
        meta(name="twitter:description", content=page.attributes.description)
        meta(name="twitter:site", content=site.twitter_screenname)
      
      block js
        script
          | var Pjax = require('pjax-api').Pjax; new Pjax({  areas: ['#main'], update: { head: 'meta, link' }  })

  body
    block nav
      include ../includes/_nav.pug

    block main
      #main
        != main_html

    block footer
      footer
        p Copyright: #{site.auther}
        p This site published by MarkDown Builder