extends _script.pug

append script_preset
  -
    const amp = true

block md_better
  -
    function md_better(htm){
      let $ = cheerio.load(htm, {decodeEntities: false})
    
      $('h2').addClass('mt-5 p-1 border border-top-0 border-right-0 border-primary')
      $('h3, h4').addClass('mt-4 p-1 border border-left-0 border-top-0 border-right-0 border-primary')
      $('h5, h6').addClass('mt-3 p-1 border border-left-0 border-top-0 border-right-0 border-light')
      $('img[src]').each(function(){
        let src    = $(this).attr('src')
        let alt    = $(this).attr('alt')
        let title  = $(this).attr('title')
        let id     = $(this).attr('id')
        let width  = $(this).attr('width')
        let height = $(this).attr('height')

          if( ( width === undefined || height === undefined ) && src.indexOf("files/") === 0 ){
            const dims = sizeOf( src )
            width = dims.width
            height = dims.height
            src = site.url.path + "/" + src
          } else if( ( width === undefined || height === undefined ) && src.indexOf("/files/") === 0 ){
            const dims = sizeOf( src.slice(1) )
            width = dims.width
            height = dims.height
            src = site.url.path +src
          } else {
            console.log( messages.amp.invalid_imageUrl )
          }

        $(this).after(`<amp-img src="${src}" alt="${alt}" title="${title}" id="${id}" width="${width}" height="${height}"></amp-image>`)
      })
      $('img').remove()
      $('amp-img').attr('layout','responsive')
      $('amp-img').parent('p').addClass('bg-dark text-light p-1 p-sm-2 mr-md-2 mb-1 mb-md-2 float-md-left img-fluid maqz-img-wrap')
      $('amp-img').parent('a').parent('p').addClass('bg-dark text-light p-1 p-sm-2 mr-md-2 mb-1 mb-md-2 float-md-left img-fluid maqz-img-wrap')
      $('table').addClass('table table-sm table-bordered')
      $('a[href^="http"], a[href^="//"]').append('<span class="fa fa-external-link fa-fw" aria-hidden="true"></span>').attr({target:'_blank', rel:'noopener'})
    
      return $('body').html()
    }
