link(rel="manifest" href=`${site.url.path}/manifest.json`)

link(href=`${site.url.path}/assets/style.min.css`, rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", crossorigin="anonymous")
link(href="https://cdn.jsdelivr.net/npm/yakuhanjp/dist/css/yakuhanjp.min.css", rel="stylesheet", crossorigin="anonymous")

| <script>
|   var disqus_config = function () {
|     this.page.url = "#{site.url.scheme}://#{site.url.host}#{site.url.path}#{page.attributes.permalink}";
|     this.page.identifier = "#{site.url.host}#{site.url.path}#{page.attributes.permalink}";
|   };
|
|   if ('serviceWorker' in navigator) {
|     navigator.serviceWorker.register('#{site.url.scheme}://#{site.url.host}#{site.url.path}/#{site.workers[0].outname}.js').then(function(registration) {
|       console.log('Service Workerは正常に登録されました: ', registration.scope);
|     }).catch(function(err) {
|       console.log('Service Workerを登録できませんでした: ', err);
|     });
|   }
| </script>

script(src=`${site.url.path}/assets/main.min.js` defer)
script(src=`${site.url.path}/assets/pjax-api.min.js` defer)
if(site.disqus)
  script(src=`https://${site.disqus}.disqus.com/embed.js` defer)
script(src=`${site.url.path}/assets/pjax-init.js` defer)