link(rel="manifest" href=`${site.url.path}/manifest.json`)

link(href=`${site.url.path}/assets/style.min.css`, rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", crossorigin="anonymous")
link(href="https://cdn.jsdelivr.net/npm/yakuhanjp/dist/css/yakuhanjp.min.css", rel="stylesheet", crossorigin="anonymous")

script(src=`${site.url.path}/assets/main.min.js` defer)
script(src=`${site.url.path}/assets/pjax-api.min.js` defer)
script(src=`${site.url.path}/assets/pjax-init.js` defer)