#share_modal_open_button
  .container-fluid
    button(type="button", data-toggle="modal", data-target="#share_modal", aria-labelledby="share_modal_label").btn.btn-primary.rounded-circle.my-lg-4.my-2
      +fa("share-square-o")

#share_modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="share_modal_label", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title
          +fa("share-square-o")
          | シェア
        button(type="button", class="close", data-dismiss="modal", aria-label="閉じる")
          span(aria-hidden="true") &times;
      .modal-body#share_modal_body
        - let pm = `${site.url.scheme}://${site.url.host}${site.url.path}${page.meta.permalink}`
        p#share_modal_label 「#{page.attributes.title}」をSNSで共有
        if(site.social_media.twitter.share)
          a(href="https://twitter.com/share?ref_src=twsrc%5Etfw", class="twitter-share-button", data-show-count="true") Tweet
          |  
        if(site.social_media.twitter.stalk)
          a(href=`https://twitter.com/${site.social_media.twitter.stalk}?ref_src=twsrc%5Etfw` class="twitter-follow-button" data-show-count="false") Follow @#{site.social_media.twitter.stalk}
          |  
        if(site.social_media.LINE.share)
          br
          div(class="line-it-button", style="display: none;", data-lang="ja", data-type="share-a", data-url=pm)
        if(site.social_media.facebook.share)
          br
          div(class="fb-share-button", data-href=pm, data-layout="button_count", data-size="small", data-mobile-iframe="true")
            a(class="fb-xfbml-parse-ignore", target="_blank", href=`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(pm)}`) シェア

#fb-root

script
  .
    var readButtonScripts = false
    
    $("#share_modal").on("shown.bs.modal",function(){
      if(!readButtonScripts){
        $("body").append("<script src='https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11&appId=#{site.social_media.facebook.appId}' id='facebook-jssdk'></script>").append("<script src='https://platform.twitter.com/widgets.js'></script>").append("<script src='https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js'></script>")
        readButtonScripts = true;
    }});
