extends ../templates/default.pug

block main
  #main.container.py-5
    - let mtime = new Date(page.stats.mtime)
    article#article_maincontent.row
      header.w-100.order-1.p-2
        h1= page.attributes.title
        p.mb-4
          +fa("clock-o")
          time(datetime=page.stats.mtime) #{mtime.getFullYear()}年#{mtime.getMonth()+1}月#{mtime.getDate()}日 #{`00${mtime.getHours()}`.slice(-2)}:#{`00${mtime.getMinutes()}`.slice(-2)}
      #article_sidenav.py-2.col-lg-3.col-12.order-lg-3.order-2
        +toc( headings, 2, "ul", "list-unstyled ml-3")
      section.py-2.col-lg-9.col-12.order-lg-2.order-3!= main_html