extends ../templates/default.pug


block main
  - 
    let bg = ""
    if(page.attributes.thumbnail) {
      bg = `background-image: url("${site.url.path}${page.attributes.thumbnail}")`
    } else {
      bg = `background-color: #212121`
    }
  #main.pb-5.pt-0
    #main_header(style= bg).py-5.text-light
      .container
        - let mtime = new Date(page.stats.mtime)
        h1.mt-5= page.attributes.title
        p.mb-1
          +fa("clock-o")
          | #{mtime.getFullYear()}年#{mtime.getMonth()+1}月#{mtime.getDate()}日 #{`00${mtime.getHours()}`.slice(-2)}:#{`00${mtime.getMinutes()}`.slice(-2)}
        p
          +fa("folder-open")
          if(page.attributes.categories)
            each category in page.attributes.categories
              span.badge.badge-success= category
              |  
          else
            | なし
          | &emsp;
          +fa("tags")
          if(page.attributes.tags)
            each tag in page.attributes.tags
              span.badge.badge-secondary= tag
              |  
          else
            | なし
        p= page.attributes.description

    .container.pt-3
      != main_html