doctype
block constnum
//- SET NUMBER OF SITE.PAGES[ARRAY]
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug
block preset


html(lang=site.locale)
  head
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title #{page.attributes.title} - #{site.name}
      
      block thankyou_seeing_sourcecode
        //*
          *
          *
          * 🌟
          *
          *
          *

      block seo
        link(rel="canonical", href=`${site.url.scheme}://${site.url.host}${site.url.path}${page.meta.permalink}`)
      
      block description
        meta(name="description", content=page.attributes.description)
        //- meta(name="keywords", content=page.tag)

      block icons
        link(rel="shortcut icon", href=`${site.url.path}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in site.icons
          link(rel="apple-touch-icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes)
          link(rel="shortcut icon", href=`${site.url.path}${icon.path}`, sizes=icon.sizes, type=icon.type)
      
      block includes_head
        include ../includes/_includes_head.pug

      block theme_color
        meta(name="theme-color", content=site.theme_color.primary)
        link(rel="manifest", href=`${site.url.path}/manifest.json`)
        link(rel="alternate", href=site.rss_url, type="application/atom+xml", title=site.name)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${site.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !!page.attributes.thumbnail )
          meta(property="og:image", content=`${site.url.scheme}://${site.url.host}${site.url.path}${page.attributes.thumbnail}`)
        else if ( !!site.site_card_path )
          meta(property="og:image", content=`${site.url.scheme}://${site.url.host}${site.url.path}${site.site_card_path}`)
        else
          meta(property="og:image", content=`/favicon.ico`)
        if ( !!site.site_card_path )
          meta(property="og:image", content=`${site.url.scheme}://${site.url.host}${site.url.path}${site.site_card_path}`)
        meta(property="og:url", content=`${site.url.scheme}://${site.url.host}${site.url.path}${page.meta.permalink}`)
        meta(property="og:site_name", content=site.name)

      block twitter_card
        if ( site.social_media.twitter.card )
          if ( !!page.attributes.thumbnail )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${site.url.scheme}://${site.url.host}${site.url.path}${page.attributes.thumbnail}`)
          else if ( !!site.site_card_path )
            meta(name="twitter:card", content="summary_large_image")
            meta(name="twitter:image", content=`${site.url.scheme}://${site.url.host}${site.url.path}${site.site_card_path}`)
          else
            meta(name="twitter:card", content="summary")
          meta(name="twitter:title", content=`${page.attributes.title} - ${site.name}`)
          meta(name="twitter:description", content=page.attributes.description)
          meta(name="twitter:site", content=site.social_media.twitter.stalk)

      block gtag
        .
          <script async src="https://www.googletagmanager.com/gtag/js?id=#{site.ga}"></script>
          <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '#{site.ga}');
          </script>

      block js_head

  body

    block wo_footer
      block nav
        include ../includes/_nav.pug

      block main
        #main
          != main_html

    block footer
      if( site.disqus )
        .container.py-5
          #disqus_wrap
            #disqus_thread

      #footer_wrap.py-3.bg-light
        footer.container
          p Copyright: #{site.auther}
          p.m-0 Site published by MarkDown Builder

      if ( site.social_media.share_button )
        include ../includes/_share.pug

    block includes_foot
      include ../includes/_includes_foot.pug

    block js_foot