doctype
html(lang=config.locale)
  head
    block _script
      include ../includes/_script.pug
    block _mixin
      include ../includes/_mixins.pug
    block meta
      block must
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        meta(name="x-ua-compatible", content="width=device-width")
        title #{page.attributes.title} - #{config.name}
      
      block thankyou_seeing_sourcecode
        //
          

          🌟
          
          
      block description
        meta(name="description", content=page.attributes.description)
        //- meta(name="keywords", content=page.tag)

      block icons
        link(rel="shortcut icon", href=`${config.site_url}/favicon.ico`, type="image/vnd.microsoft.icon")
        each icon in config.icons
          link(rel="shortcut icon", href=`${config.site_url}${icon.path}`, sizes=icon.sizes, type=icon.type)

      block theme_color
        meta(name="theme-color", content=config.theme_color)
        link(rel="manifest", href=`/manifest.json`)
        link(rel="alternate", href=config.rss_url, type="application/atom+xml", title=config.name)

      block og
        meta(property="og:type", content="website")
        meta(property="og:title", content=`${page.attributes.title} - ${config.name}`)
        meta(property="og:description", content=page.attributes.description)
        if ( !page.thumbnail && page.thumbnail != "" )
          meta(property="og:image", content=`${config.site_url}${page.attributes.thumbnail}`)
        else if ( !config.site_card_path && config.site_card_path != "" )
          meta(property="og:image", content=`${config.site_url}${config.site_card_path}`)
        else
          meta(property="og:image", content=`${config.site_url}/favicon.ico`)
        if ( site_card_path )
          meta(property="og:image", content=`${config.site_url}${config.site_card_path}`)
        meta(property="og:url", content=`${config.site_url}${page.attributes.permalink}`)
        meta(property="og:site_name", content=config.name)

      block twitter_card
        if ( !page.thumbnail && page.thumbnail != "" )
          meta(name="twitter:card", content="summary_large_image")
          meta(name="twitter:image", content=`${config.site_url}${page.attributes.thumbnail}`)
        else if ( !config.site_card_path && config.site_card_path != "" )
          meta(name="twitter:card", content="summary_large_image")
          meta(name="twitter:image", content=`${config.site_url}${config.site_card_path}`)
        else
          meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content=`${page.attributes.title} - ${config.name}`)
        meta(name="twitter:description", content=page.attributes.description)
        meta(name="twitter:site", content=config.twitter_screenname)

    include ../includes/_includes.pug

  body
    block nav
      include ../includes/_nav.pug

    block main_outof_barba
      .barba-container
        #barba-wrapper
          block main_in_barba
            case page.srcext
              when '.md'
                #main
                  != kramed(page.body).replace(/\r?\n/g,"")
              when '.pug'
                #main
                  - let locals = {"config":config,"pages":pages,"page":page,"package":package,"option":option}
                  - let fn = pug_api.compile(page.body,{filters:require('./pugfilters.js')})
                  - let pugged = fn(locals)
                  != pugged

    block footer
      footer
        p Copyright: #{config.auther}
        p This site published by MarkDown Builder